Package: unreel
Version: 1.0.3
License: GPL-3.0
Vendor: Caldas Lopes <joao.caldas.lopes@gmail.com>
Architecture: amd64
Maintainer: Caldas Lopes <joao.caldas.lopes@gmail.com>
Installed-Size: 145639
Depends: gconf2, gconf-service, libnotify4, libappindicator1, libxtst6, libnss3
Section: Contrib
Priority: extra
Homepage: https://github.com/linux-man/unreel#readme
Description: 
  Reveal your ideas.
  With Unreel you can create amazing REVEAL.JS presentations
